<template>
  <div class="home">
      Test

      <p :key="customer.id" v-for="customer in this.customers">
          {{ customer.firstName }}
      </p>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { CustomerService } from '@/service/CustomerService';
  import {Customer} from "@/interface/Customer";

  @Component
  export default class Customers extends Vue {
      private customers: Customer[] = new Array<Customer>();

      mounted() {
          const customerService = new CustomerService();
          customerService.getAllCustomers().then((results) => {
              this.customers = results;
          }).catch((e) => {
              this.$buefy.notification.open({
                  duration: 5000,
                  message: e,
                  position: 'is-bottom-right',
                  type: 'is-danger'
              })
          });
      }
  }
</script>
