<template>
    <div>
        helooooo welcome to the dashboard smile
    </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Dashboard extends Vue {

}
</script>
