<template>
    <div>
        <div class="level">
            <div class="level-left">
                <b-icon icon="database"></b-icon>
                <span class="page-title">Products</span>
            </div>
            <div class="level-right">
                <b-input v-model="searchQuery" placeholder="Search"/>
            </div>
        </div>
        <b-table :data="products">
            <template slot-scope="product">
                <b-table-column field="name" label="Name" sortable>
                    {{ product.row.name }}
                </b-table-column>
                <b-table-column field="description" label="Description">
                    {{ product.row.description }}
                </b-table-column>
                <b-table-column field="sku" label="SKU" sortable>
                    {{ product.row.sku }}
                </b-table-column>
                <b-table-column field="salePrice" label="Sale Price">
                    {{ product.row.salePrice | money }}
                </b-table-column>
                <b-table-column field="availableQuantity" label="Available Quantity" sortable>
                    {{ product.row.availableQuantity }}
                </b-table-column>
                <b-table-column field="actions" label="Actions">
                    <b-button type="is-primary">Action</b-button>
                </b-table-column>
            </template>
        </b-table>
    </div>
</template>
<style lang="scss">
    .page-title {
        font-weight: bold;
        font-size: 20px;
    }
</style>
<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';
  import { Product } from "@/interface/Product";
  import {ProductService} from "@/service/ProductService";

  @Component
  export default class Inventory extends Vue {
      private products: Product[] = new Array<Product>();
      searchQuery = "";

      mounted() {
          const productService = new ProductService();

          productService.getAllProducts().then((results) => {
              this.products = results;
          }).catch((e) => {
              this.$buefy.notification.open({
                  duration: 5000,
                  message: e,
                  position: 'is-bottom-right',
                  type: 'is-danger'
              })
          });
      }
  }
</script>
