<template>
  <div id="app">
      <Navigation />
      <div class="main-container">
          <div class="sidebar">
              <b-menu>
                  <b-menu-list label="Menu">
                      <b-menu-item :active="isActive('dashboard')" icon="settings" label="Dashboard" @click="changePage('dashboard')"></b-menu-item>
                      <b-menu-item :active="isActive('customers')" icon="account" label="Customers" @click="changePage('customers')"></b-menu-item>
                      <b-menu-item :active="isActive('shipments')" icon="package-variant-closed" label="Shipments" @click="changePage('shipments')"></b-menu-item>
                      <b-menu-item :active="isActive('inventory')" icon="sitemap" label="Inventory" @click="changePage('inventory')"></b-menu-item>
                  </b-menu-list>
                  <b-menu-list label="Admin">
                      <b-menu-item icon="settings" label="Inventory"></b-menu-item>
                      <b-menu-item icon="account" label="Employees"></b-menu-item>
                      <b-menu-item icon="database" label="Products"></b-menu-item>
                  </b-menu-list>
              </b-menu>
          </div>
          <div class="content">
              <router-view/>
          </div>
      </div>
  </div>
</template>

<script>
  import Navigation from "@/components/Layout/Navigation";
  export default {
      name: 'app',
      data() {
          return {
            active: 'dashboard'
          }
      },
      mounted() {
          this.active = this.$route.name;
      },
      methods: {
          isActive(page) {
              return page === this.active;
          },
          changePage(page) {
              this.active = page;
              this.$router.push({ name: page })
          }
      },
      components: {
          Navigation
      }
  }
</script>
<style lang="scss">
@import "~reset-css/sass/reset";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color:#efefef;
  height: 100vh;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.main-container {
    display: flex;
    justify-content: flex-start;
    .content {
        flex: 2;
        margin: 20px;

    }
    .sidebar {
        background-color: #fff;
        padding: 30px;
        width: 260px;
        height: 100vh;
    }
}
</style>
